
$sm-breakpoint: 1024px;

:root {
    --main-container-dark-theme: #abb7b7;
    --main-container-dark-theme-borders: #7a8484;
    --main-lightshade-dark-theme: #F4EBE8;
    --shadow-color: #41484a;
    --light-shadow: #41484a80;

    --primary-dark: #464655;
    --primary-darkest: #1f1f26;
    --primary-light: #F4EBE8;
    --primary-color-one: #F28123;
    --primay-color-two: #00916E;
    --primary-color-three: #62929E;
}